@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff7a7a;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr;
    min-height: 25vh;
  }
}

.container .info__section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 12rem;
}

@media screen and (max-width: 1150px) {
  .container .info__section {
    padding: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .container .info__section {
    padding: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .container .info__section {
    padding: 0 4rem;
    text-align: center;
  }
}

.container .info__section .info__title {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .container .info__section .info__title {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.container .info__section .info__description {
  color: #fff;
}

.container .form__section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10rem;
}

@media screen and (max-width: 1350px) {
  .container .form__section {
    padding: 8rem;
  }
}

@media screen and (max-width: 1250px) {
  .container .form__section {
    padding: 6rem;
  }
}

@media screen and (max-width: 1250px) {
  .container .form__section {
    padding: 4rem;
  }
}

@media screen and (max-width: 1150px) {
  .container .form__section {
    padding: 2rem;
  }
}

.container .form__section .try__bar {
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
  background-color: #6055a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 0.25);
  box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 0.25);
}

.container .form__section .try__bar .try__info {
  color: #fff;
}

.container .form__section .try__bar .try__info span {
  font-weight: 700;
  cursor: pointer;
}

.container .form__section .form__container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: .5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 0.25);
  box-shadow: 0px 5px 0px 0px rgba(66, 68, 90, 0.25);
}

.container .form__section .form__container form {
  width: 100%;
  height: 100%;
}

.container .form__section .form__container .input__container {
  width: 100%;
  position: relative;
}

.container .form__section .form__container .input__container input {
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.container .form__section .form__container .input__container input:focus {
  outline: none;
  border: solid #6055a5 2px;
}

.container .form__section .form__container .input__container .err__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: #ff7a7a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  display: none;
}

.container .form__section .form__container .input__container .err__icon:hover {
  background-color: #3e3c49;
}

.container .form__section .form__container .input__container .err__text {
  position: absolute;
  bottom: 1rem;
  right: 0;
  color: #ff7a7a;
  font-size: .75rem;
  font-weight: 700;
  display: none;
}

.container .form__section .form__container .submit__container {
  width: 100%;
}

.container .form__section .form__container .submit__container button {
  width: 100%;
  height: 4rem;
  border-radius: .4rem;
  border: none;
  background-color: #38cc8c;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(56, 204, 140, 0.25);
          box-shadow: 0px 5px 0px 0px rgba(56, 204, 140, 0.25);
  -webkit-transition: .2s;
  transition: .2s;
}

.container .form__section .form__container .submit__container button:hover {
  opacity: .8;
}

.container .form__section .form__container .terms-of-service {
  text-align: center;
  font-size: .8rem;
  color: #b9b6d3;
}

.container .form__section .form__container .terms-of-service span {
  color: #ff7a7a;
  font-weight: 700;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */